body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.but{
    background-image:url(http://www.wallpapermade.com/images/wallpapers/originals/batman-logo-wallpaper-5160.jpg);
    height:100px;
    width:300px;
}
